{"version": 1,
"handlers": {"logstash": {"level": "INFO", "class": "logstash.TCPLogstashHandler", "host": "127.0.0.1", "port": 5000, "version": 1, "message_type": "logstash", "tags": ["gravityinfraredco2sensor"]}}, "root": {"level": "INFO", "handlers": ["logstash"]}}
